
<div id="chat-container">
  <div id="chat-title">
    <button id="collapse-chat-down">
          <span class="fa-down-open turn-up"></span>
        </button>
    <strong>ChatLounge</strong>
  </div>
  <div id="chat-toggle-show">
    <div id="chat-body">

    </div>
    <div id="chat-footer">
      <form>
        <textarea placeholder="Type Here..." id="new-message"></textarea>
        <!-- <input type="text" placeholder="Type Here..." id="new-message" autocomplete="off"> -->
        <input type="submit" id="submit-btn" class="btn" value="Send">
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
      $("#new-message").emojioneArea({
        pickerPosition: "top",
        standalone: false,
        autocomplete: false
      });
    });
</script>
<script>
  $('#collapse-chat-down').click(() => {
    $('#chat-container').toggleClass('slideDown');
    $('#collapse-chat-down > span').toggleClass('turn-up-active');
  });

  $(document).ready(function () {

    $('textarea').on('keyup', function (event) {

      if (event.keyCode === 13 && event.shiftKey)
        {
          event.preventDefault();
        }
        else if(event.keyCode === 13){
          $('#submit-btn').click();
        }
      });

    $('#chat-body').scrollTop($('#chat-body')[0].scrollHeight);
  });

</script>