<div landing id="main-bod" ng-controller="IndexController">
  <!-- Fixed Logo & Menu Bar Start -->
  <div landing id="main-bod">
  <!-- Fixed Logo & Menu Bar Start -->
  <div class="navigationDiv row ">
    <div class="col-md-3 col-xs-12">
      <h2 class="text-center logo_head"><a href='./'>Cards For Humanity</a></h2>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-6 col-xs-12 nav navmenu">
      <ul class="wpb-main-menu">
        <li>
          <a href="./">Home</a>
        </li>
</ul>
</div>
</div>
</div>
<!-- Fixed Logo & Menu Bar End -->

<!-- Landing Start -->
<div class="loginpanel">
    <form>
      <div class="txt">
        <input id="email" name="email" ng-model="login_email"  type="text" placeholder="Email" required novalidate />
        <label for="user" class="icon-user"></label>
      </div>
      <div class="txt">
        <input id="pwd" type="password" ng-model="login_password" placeholder="Password" name="password" required novalidate />
        <label for="pwd" class="icon-lock"></label>
      </div>
      <div class="sign-error" ng-show="showError()">
        <span>Please check your username/password and try again.</span>
      </div>
      <div class="buttons">
        <input type="submit" id="sign-up-btn-other" ng-click="login()" value="Sign In" />
      </div>
    </form>
    <span>
    Don't have an account? click <a href="#!/signup">here</a> to sign up
  </span>
    <div class="hr">
      <div></div>
      <div>OR</div>
      <div></div>
    </div>

    <div class="social">
      <a href ng-click="facebookLogin()" class="facebook"></a>
      <a href ng-click="twitterLogin()" class="twitter"></a>
      <a href ng-click="googleLogin()" class="googleplus"></a>
    </div>
  </div>
</div>
