<div landing id="main-bod" ng-controller="IndexController">
  <!-- Fixed Logo & Menu Bar Start -->
  <div class="navigationDiv row ">
    <div class="col-md-3 col-xs-12">
      <h2 class="text-center logo_head"><a href='./'>Cards For Humanity</a></h2>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-6 col-xs-12 nav navmenu">
      <ul class="wpb-main-menu">
        <li>
          <a href="./">Home</a>
        </li>

<li><a href="/play"><button class="play_button btn"> Play </button</a></li>
</ul>
</div>
</div>
<!-- Landing Start -->
  <div class="loginpanel">
    <form>
      <div class="sign-error" ng-show="showError()" ng-cloak>
        <span>{{ error.data.message }}</span>
      </div>
      <div class="txt">
        <input id="name" name="name" ng-model="name" type="text" placeholder="Fullname" required novalidate />
        <label for="user" class="entypo-user"></label>
      </div>
      <div class="txt">
        <input id="username" name="username" ng-model="username" type="text" placeholder="Username" required novalidate />
        <label for="user" class="entypo-user"></label>
      </div>
      <div class="txt">
        <input id="email" name="email" ng-model="email" type="text" placeholder="Email" required novalidate />
        <label for="user" class="entypo-user"></label>
      </div>
      <div class="txt">
        <input id="pwd" type="password" ng-model="password" placeholder="Password" name="password" required novalidate />
        <label for="pwd" class="entypo-lock"></label>
      </div>
      <div id="contain-avatars">
        <ul class="avatar-list">
          <li ng-repeat="avatar in avatars" class="avatars ng-scope">
            <input name="avatar" type='radio' value="{{$index}}">
              <img ng-src="{{avatar}}">
            </input>
          </li>
        </ul>
      </div>
      <div class="buttons">
        <input type="submit" id="sign-up-btn-other" ng-click="signup()" value="Sign Up" />
      </div>
    </form>
    <span>
    Already have an account? click <a href="#!/signin">here</a> to login
  </span>
    <div class="hr">
      <div></div>
      <div>OR</div>
      <div></div>
    </div>

    <div class="social">
      <a href ng-click="facebookLogin()" class="facebook"></a>
      <a href ng-click="twitterLogin()" class="twitter"></a>
      <a href ng-click="googleLogin()" class="googleplus"></a>
    </div>
</div>
</div>
