body {
  background-color: #072f70;
}

#time {
  font-size: 120px;
  text-align: center;
}

#inner-timer-container {
  border: 1px solid;
  background-color: white;
  min-height: 305px;
  justify-content: center;
}

#timer-status-round {
  display: block;
  text-align: center;
}

.card {
  background-color: #f99999;
}

#question-border {
  background-color: white;
}

#finding-players {
  text-align: center;
  font-size: 33px;
  font-family: sans-serif;
}

#player-count-container {
  text-align: center;
  padding: 50px 0px;
}

#player-count {
  font-size: 30px;
}

#the-word-players {
  font-size: 25px;
}

.find-players {
  height: 200px;
  justify-content: center;
}

#start-game-button {
  height: unset;
  border-radius: 20px;
}

#startGame {
padding-top: 30px;
}

#info-container {
  border: 3px solid #f99999;
}

#lobby-how-to-play {
  text-align: center;
  font-size: 30px;
}

#oh-el li {
  list-style-type: disc;
}
